<div class="container">
  <h1>Cadastrar Estabelecimento</h1>
  <form #estabelecimentoForm="ngForm" (ngSubmit)="submeterForm()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" name="usuario" id="nome" class="form-control" [(ngModel)]="estebelecimentoModel.nome">
    </div>
    <div class="row btn-panel">
      <div class="btn-panel">
        <button type="submit" class="btn btn-outline-primary">Confirmar</button>
        <button type="button" routerLink="/estabelecimento" class="btn btn-outline-danger">Voltar</button>
      </div>
    </div>
  </form>
</div>