.panel-btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 40px;
}
.lupa{
    margin-right: 10px;
}
.lupa:hover{
    cursor: pointer;
    font-size: 17px;
}