<div class="container">
  <div class="row">
    <div class="panel-btn">
      <button type="button" class="btn btn-outline-primary" routerLink="../estabelecimento-cadastrar">Adicionar
        Estabelecimento</button>
            
      <button type="button" class="btn btn-outline-primary" routerLink="../produto-cadastrar">Adicionar Produto</button>
    
    </div>  

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Quantidade Produtos</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estabelecimento of estabelecimentos">
        <th scope="row">{{estabelecimento?.id}}</th>
        <td>{{estabelecimento?.nome}}</td>
        <td>{{estabelecimento.produtos ? estabelecimento.produtos.length : 0}}</td>
        <td><fa-icon class="lupa" routerLink="../produtos" [queryParams]="{id : estabelecimento.id}"
            [icon]="faMagnifyingGlass"></fa-icon></td>
      </tr>
    </tbody>
  </table>
</div>