<div class="container">
 <div>
  <div class="separador">
    <h1>Produtos do estabelecimento</h1>
  </div>
  
  <form #estabelecimentoForm="ngForm">
    <div class="campos">
      <label for="nome">Nome estabelecimento: </label>
      <input disabled type="text" name="usuario" id="nome" class="form-control" [(ngModel)]="estabelecimento.nome">
    </div>
  </form>
  </div>  
  <table class="table">
    <thead>
      <tr>
        <th class="texto-table" scope="col">#</th>
        <th class="texto-table" scope="col">Nome</th>
        <th class="texto-table" scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of estabelecimento.produtos; index as i">
        <th scope="row">{{i+1}}</th>
        <td class="texto-table">{{produto?.nome}}</td>
        <td class="texto-table" >R$ {{produto.valor}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="btn-panel">
      <button type="button" routerLink="/estabelecimento" class="btn btn-outline-danger">Voltar</button>
      <button type="button" (click)="controlarModalAvisoConclusaoProcesso()" class="btn btn-outline-primary">Vincular Produto
        <fa-icon 
        [icon]="faPlus">
      </fa-icon>
      </button>
    </div>
  </div>
</div>